
h1
{
	color: white; 
	font-size: 40px;
	font-weight: 600;
	font-family: Helvetica;
}
.body_backgorund {
	background-image: url("Background.png");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-radius: 30;
	border-width: 10px;
	border-color: cyan;
	background-color: white;
	opacity: 0.5;



}
